.App {
  text-align: center;
}

.App-logo {
  height: 28vmin;
  pointer-events: none;
}


.App-header {
  background: linear-gradient(to right top,#ea5b80,#ebc257);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #222425;
}

.container-logo {
  position: relative;
}

.main-title {
  position: relative;
  font-weight: bold;
  bottom: 200px;
  letter-spacing: 50px;
}



